header {
    height: 100px;
}

li {
    font-size: .85rem;
}

#main {
    padding-top: 70px;
}

.footer {
    font-size: .5rem;
}

.p-3 {
    padding: .25rem!important;
}

.p-5 {
    padding: 1rem!important;
}

.bg-primary {
    background-color: #45abe4!important;
}

.border-primary {
    border-color: #44a9e3!important;
}

.navbar {
    border-radius: 0;
    transition: all 0.3s ease-out;
}

.navbar-brand {
    visibility: hidden;
}

.affix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* fixed to top styles */

.affix.navbar {
    background-color: #4aafdc;
    height: 2.5rem;
}

.affix.navbar .nav-item>a,
.affix.navbar .navbar-brand {
    color: #fff;
    visibility: visible;
}

/* Cards */
.card {
    padding: 5px;
}

.card-title {
    font-size: 2rem;
    font-weight: bolder;
}

.card-text {
    font-size: .85rem;
    font-weight: bold;
}

.img-fluid {
    max-width: 200px;
    margin: 0 auto;
}